body{
    margin: 0px;
    padding: 0px;
}
div{
    overflow: hidden;
    box-sizing: border-box;
}
.Menu{
    width: 1000px;
    margin: auto;
}
.contact-order {
    width: 1000px;
    height: 80px;
    background-color: #134686;
    margin: auto;
    border-radius: 10px;
}
.contect{
    float: left;
    width: 55%;
}
.contect h1{
    line-height: 40px;
    margin-left: 50px;
    font-size: 30px;
    color: white;
}
.btn-order{
    width: 45%;
    float: left;
}
.btn-order span{
    color: white;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-order a {
    text-decoration: none;
    line-height: 80px;
    padding: 10px 40px 10px 40px;
    background-color: red;
    font-size: 18px;
    color: white;
    border-radius: 4px;

}
.btn-order a:hover{
    transition: 1s;
    background-color: rgba(9, 8, 8, 0.5);
}
/* set style footer-body */
.footer-body{
    float: left;
    width: 100%;
    margin: auto;
    background-color: white;
}
.footer-slide {
    width:100% ;
}
.footer-body span{
    width: 80%;
    color: #134686;
    float: left;
    font-size: 13px;
}
.footer-body a{
    color: red;
}
.footer-body input{
    width: 20%;
    font-size: 17px;
    color: white;
    border: none;
    padding: 10px 30px 10px 30px;
    float: right;
    border-radius: 5px;
    background-color: #134686;
}
/* set style box-cart */
.box-cart{
    float: left;
    width: 100%;
    border: 1px solid gray;
    margin-top: 5px;
}
.box-cart .logo{
    float: left;
    width: 20%;
}
.box-cart .logo img{
    width: 100%;
    height: 60px;
}
.box-cart .text{
    float: left;
    width: 80%;
    height: 70px;
}
.box-cart .text:hover{
    transition: 2s;
    color: white;
    background-color: #134686;
}
.box-cart .text span{
    line-height: 70px;
    color:#134686;
    font-size: 30px;
    margin-left: 10px;
}
.box-cart .text span:hover{
    color: aliceblue;
    transition: 2s;
}
