
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Syriac+Western:wght@100..900&family=Oswald&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
div{
    overflow: hidden;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: auto;
}
.container h1{
    padding: 0;
    margin: 0;
    font-size: 30px;
}
.box-text{
    margin-top: 10px;
    float: left;
    width: 100%;
}
.box-text span{
    float: left;
    color: #107bb0;
}
.box-text a{
    color: red;
}
.box-text button{
    float: right;
    color: aliceblue;
    font-size: 20px;
    padding: 10px 35px 10px 35px;
    background-color: #107bb0;
    border: none;
    border-radius: 2px;
}
/* set style box-cart */
.box-cart-one{
    float: left;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    /* border: 1px solid rgb(234, 231, 231); */
}
.pizaa-cart-one{
    float: left;
    width: 100%;
    height: 100px;
    text-decoration: none;
    border: 1px solid rgb(234, 231, 231);
}
.box-cart-one .pizaa-cart-one:hover{
    color: white;
    /* border: 2px dotted gray; */
    background-color: #107bb0;
}
.box-cart-one .picture{
    float: left;
    width: 15%;
}
.box-cart-one .picture img{
    float: left;
    width: 100%;
    height: 100px;
}
.box-cart-one .text {
    width: 85%;
    float: left;
    line-height: 100px;
}
.box-cart-one .text span{
    color:#107bb0;
    font-size: 30px;
    margin-left: 60px;
}
.box-cart-one .text span:hover{
    color: white;
}
