* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* chhorvy */
/* css for navbar  */
.header {
  width: 100%;
  height: 90px;
  background: #006491;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.navbar {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul_nav {
  list-style: none;
  display: flex;
  gap: 5px;
  align-items: center;
}
.ul_nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  /* padding: 10px; */
  transition: color 0.3s;
}
.ul_nav li {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.location_block,
.signin {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 16px;
}
.location {
  cursor: pointer;
  border: 2px solid #fff;
  /* border-radius: 30px; */
  padding: 6px 12px;
}
.ul_nav li:hover {
  background: #05879d;
  /* color: #059ce1; */
  transition: 0.3s ease-in-out;
}
