 body{
    margin: 0px;
    padding: 0px;
}
.main-pizza{
    width: 100%;
}
.poster{
    width: 1200px;
    margin: auto;
    align-content: center;
    margin-bottom: 20px;
}
.poster h1{
    padding: 0;
    margin: 0;
    font-size: 30px;
}
.poster-cart{
    padding: 10px;
}
.box-text{
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.box-text span{
    float: left;
    color: #107bb0;
}
.box-text a{
    color: red;
}
/* set style box-cart */
.main-cart {
    /* justify-content: space-between; */
    float: left;
    width: 100%;
    margin-bottom:30px ;
}
.main-cart .head-cart{
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    background-color: #107bb0;
    margin-bottom: 10px;
}
.main-cart
 .head-cart
 .b-frist {
    /* justify-content: space-between; */
    float: left;
    color: aliceblue;
 }
 .main-cart,
 .head-cart,
 .b-list{
    float: right;
    /* justify-content: space-between; */
    color: white;
    
 }
/* set style products-cart */
.product {
    display: flex;
    width: 100%;
    /* margin: 0 auto; */
}
.product .cart-menu{
    /* display: flex;
    justify-content: space-between; */
    float: left;
    width: 24%;
    height: 340px;
    margin-right: 1%;
    box-shadow: 5px 10px 10px  rgb(247, 245, 245);
    border-radius: 10px;
    border: 2px solid rgba(141, 138, 138,0.1);
    padding-bottom: 20px;
    margin-top: 20px;
}
.product .cart-menu:last-child{
    margin-right: 0%;
    width: 25%;
}
.cart-menu .piture img{
    float: left;
    width: 100%;
    height: 200px;
    padding: 10px;
}
.cart-menu .btn-order{
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 15px;
    padding: 15px 60px ;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
}
.cart-menu .btn-order:last-child{
    margin-left: 30px;
    padding: 15px 70px ;
}
.product .cart-menu span{
    float: left;
    color:#107bb0;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
}
.product .cart-menu p{
    float: right;
    color:#107bb0;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 15px;
}
/* set style footer */
 .box-footer{
    /* justify-content: space-between; */
    float: left;
    width: 100%;
    margin-top: 30px;
} 
.box-review{
    width: 100%;
    height: 40px;
    background-color: #107bb0;
} 
.box-review h3{
    margin-left: 20px;
    color: white;
    line-height: 40px;
} 
/* Basic Reset and Typography */
 .menu-container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color:#e6edf3;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
} 
/* Options Grid Layout */
.options-grid {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    border-bottom: 1px solid #ccc;
}

.bottom-row {
    border-bottom: none; /* Last row doesn't need a bottom border */
}

.option-group {
    padding: 20px;
    flex: 1;
    min-width: 250px; /* Ensure columns don't get too narrow */
}
/* Separators */
.top-row .option-group:not(:last-child) {
    border-right: 1px solid #ccc;
}

.bottom-row {
    display: flex;
}

/* Styling for the second row groups */
.meats-group {
    flex: 1; 
    border-right: 1px solid #ccc;
}

.non-meats-group {
    flex: 2; 
}
.option-group h3 {
    color: #3b5998; 
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.option-group ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.option-group li {
    line-height: 1.6;
}

.non-meats-group .two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px; 
}
@media (max-width: 768px) {
    .options-grid {
        display: block; /* Stack sections vertically */
    }

    .option-group {
        border-right: none !important; /* Remove vertical separators */
        border-bottom: 1px solid #eee; /* Add a horizontal separator */
    }
    .bottom-row .option-group {
        border-right: none;
    }
}