
.main{
    width: 100%;
    justify-items: center;
    margin-bottom: 40px;
    margin-top: 0px;
}
.main-container{
    width: 100%;
}
.headerMeun{
    float: left;
    width: 100%;
    justify-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(21, 20, 20,0.5);
}
.clear{
    clear: both;
}
.headerMeun ul{
    list-style-type: none;
}
.headerMeun ul li{
    float: left;
}
.headerMeun ul li a{
    display: block;
    padding: 10px;
    color:#107bb0;
    text-decoration: none;
    margin-right: 35px;
    clear: both;
}
/* sey style body-container */
.body-content{
    width: 1200px;
}
.heading{
    text-align: start;
} 
.body-content h1{
    padding-top: 10px;
    font-size: 30px;
}
.box-text{
    width: 100%;
}
.box-text span{
    text-align: start;
    color: #107bb0;
    font-size: 14px;
}
.box-text a{
    padding: 0px 20px;
    color: red;
}
.box-text .btn-print-menu{
    padding: 10px 40px;
    color: white;
    background-color: #107bb0;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 40px;
}
.box-text .btn-print-menu:hover{
    color: orange;
    transition: 5ms;
    background-color: rgba(36, 35, 35,0.5);
}

/* set style box-cart */
.box-cart{
    display: flex;
    width: 100%;
    margin-top: 25px;
    border: 2px solid rgb(234, 231, 231);
}
.box-cart:hover{
    border: 2px dotted rgb(202, 198, 198);
}
.cart{
    /* float: left; */
    display: flex;
    width: 100%;
    text-decoration: none;
}
.cart .picture{
    /* float: left; */
    display: flex;
    width: 20%;
}
.cart .picture .pic-pizza{
    /* float: left; */
    display: flex;
    width: 100%;
    height: 130px;
}
.cart .text{
    /* float: left; */
    display: flex;
    width: 80%;
    line-height: 130px;
    font-size: 25px;
    color:#107bb0;
}
.cart .text b{
    margin-left: 20px;
}
.box-cart .text:hover{
    background-color: #107bb0;
    color: white;
}
/* set style  */